#mainContent{
  border: 1px solid red;
  background-color :rgb(255,230,230);
}

.queueView{
  border: 1px solid blue;
  background-color: rgb(210,210,230);
}

.patientWaiting{
  padding: 6px;
  margin : 6px;
  border : 1px dotted green;
  background-color: white;
}

.patientName{
  font-weight: bold;
}
